<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.ztesoft.web.operateRecord.db.dao.mapper.ITSqrxxfjMapper" >
  <resultMap id="BaseResultMap" type="com.ztesoft.web.operateRecord.db.po.TSqrxxfjPO">
  	<id column="ID" property="id" jdbcType="VARCHAR" />
  	<result column="SQR_ID" property="sqrId" jdbcType="VARCHAR" />
  	<result column="MC" property="mc" jdbcType="VARCHAR" />
  	<result column="DZ" property="dz" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
  	ID,SQR_ID,MC,DZ
  </sql>
  <sql id="Arg_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Arg_Where_Clause" >
    <where >
      <foreach collection="arg.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>  
  <select id="selectByArg" resultMap="BaseResultMap" parameterType="com.ztesoft.web.operateRecord.db.arg.TSqrxxfjArg" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_SQRXXFJ
    <if test="_parameter != null" >
      <include refid="Arg_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>  
  <select id="selectByArgAndPage" resultMap="BaseResultMap" parameterType="com.ztesoft.web.operateRecord.db.arg.TSqrxxfjArg" >
    select
    <if test="distinct" >
      distinct
    </if>
     <if test="columns == null" >
    	<include refid="Base_Column_List" />
    </if>
    <if test="columns != null" >
    	${columns}
   	</if>
    from T_SQRXXFJ
    <if test="_parameter != null" >
      <include refid="Arg_Where_Clause" />
    </if>
	<if test="groupByClause != null" >
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByArg" parameterType="com.ztesoft.web.operateRecord.db.arg.TSqrxxfjArg" resultType="java.lang.Integer" >
    <if test="countsql1 != null" >
    	${countsql1}
    	<if test="_parameter != null" >
		  <include refid="Arg_Where_Clause" />
		</if>
		${countsql2}
    </if>
	<if test="countsql1 == null" >
		select count(*) from T_SQRXXFJ
		<if test="_parameter != null" >
		  <include refid="Arg_Where_Clause" />
		</if>
	</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
	select
	<include refid="Base_Column_List" />
	from T_SQRXXFJ
	where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectBySqrId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
	select
	<include refid="Base_Column_List" />
	from T_SQRXXFJ
	where SQR_ID = #{sqrId,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.ztesoft.web.operateRecord.db.po.TSqrxxfjPO"  >
		insert into T_SQRXXFJ(ID,SQR_ID,MC,DZ)
		values (#{id,jdbcType=VARCHAR},#{sqrId,jdbcType=VARCHAR},#{mc,jdbcType=VARCHAR},#{dz,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ztesoft.web.operateRecord.db.po.TSqrxxfjPO">
		insert into T_SQRXXFJ
	<trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="id != null" >
			ID,
		</if>
		<if test="sqrId != null" >
			SQR_ID,
		</if>
		<if test="mc != null" >
			MC,
		</if>
		<if test="dz != null" >
			DZ,
		</if>
 	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides="," >
		<if test="id != null" >
			#{id,jdbcType=VARCHAR},
		</if>
		<if test="sqrId != null" >
			#{sqrId,jdbcType=VARCHAR},
		</if>
		<if test="mc != null" >
			#{mc,jdbcType=VARCHAR},
		</if>
		<if test="dz != null" >
			#{dz,jdbcType=VARCHAR},
		</if>
 	</trim> 	
  </insert>	
  <insert id="insertBatch" parameterType="list"  >
	insert into T_SQRXXFJ(ID,SQR_ID,MC,DZ)
	 values 
	 <foreach collection="list" item="item" index="index" separator=",">
	 		(#{item.id,jdbcType=VARCHAR},#{item.sqrId,jdbcType=VARCHAR},#{item.mc,jdbcType=VARCHAR},#{item.dz,jdbcType=VARCHAR})
	 </foreach>
  </insert>
  <update id="updateByArgSelective" parameterType="map" >
    update T_SQRXXFJ
    <set>
		<if test="record.sqrId != null" >
			SQR_ID= #{record.sqrId,jdbcType=VARCHAR},
		</if>
		<if test="record.mc != null" >
			MC= #{record.mc,jdbcType=VARCHAR},
		</if>
		<if test="record.dz != null" >
			DZ= #{record.dz,jdbcType=VARCHAR}
		</if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Arg_Where_Clause" />
    </if>
  </update>
  <update id="updateByArg" parameterType="map" >
    update T_SQRXXFJ
    set 
		ID = #{record.id,jdbcType=VARCHAR},
		SQR_ID = #{record.sqrId,jdbcType=VARCHAR},
		MC = #{record.mc,jdbcType=VARCHAR},
		DZ = #{record.dz,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Arg_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztesoft.web.operateRecord.db.po.TSqrxxfjPO" >
		update T_SQRXXFJ
	<set >
	<if test="sqrId != null" >
		SQR_ID = #{sqrId,jdbcType=VARCHAR},
	</if>
	<if test="mc != null" >
		MC = #{mc,jdbcType=VARCHAR},
	</if>
		DZ = #{dz,jdbcType=VARCHAR}
	</set >
	 where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztesoft.web.operateRecord.db.po.TSqrxxfjPO" >
		update T_SQRXXFJ
		set 
			SQR_ID = #{sqrId,jdbcType=VARCHAR},
			MC = #{mc,jdbcType=VARCHAR},
			DZ = #{dz,jdbcType=VARCHAR}
	 where ID = #{id,jdbcType=VARCHAR}
   </update>
  <delete id="deleteByArg" parameterType="com.ztesoft.web.operateRecord.db.arg.TSqrxxfjArg" >
    delete from T_SQRXXFJ
    <if test="_parameter != null" >
      <include refid="Arg_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
	 delete from T_SQRXXFJ
	 where ID = #{id,jdbcType=VARCHAR}
  </delete>
</mapper>  