<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.ztesoft.web.byTheQuery.db.dao.mapper.ITBcxrxxMapper" >
  <resultMap id="BaseResultMap" type="com.ztesoft.web.byTheQuery.db.po.TBcxrxxPO">
  	<id column="ID" property="id" jdbcType="VARCHAR" />
  	<result column="SQR_ID" property="sqrId" jdbcType="VARCHAR" />
  	<result column="ZJH" property="zjh" jdbcType="VARCHAR" />
  	<result column="ZJLX" property="zjlx" jdbcType="VARCHAR" />
  	<result column="XM" property="xm" jdbcType="VARCHAR" />
  	<result column="SFZZP" property="sfzzp" jdbcType="VARCHAR" />
  	<result column="SFZF" property="sfzf" jdbcType="CHAR" />
  	<result column="ZFLY" property="zfly" jdbcType="VARCHAR" />
  	<result column="SFDY" property="sfdy" jdbcType="CHAR" />
  	<result column="BCXRQ" property="bcxrq" jdbcType="CHAR" />
  	<result column="XGRQ" property="xgrq" jdbcType="CHAR" />
  	<result column="RKLX" property="rklx" jdbcType="CHAR" />
  	<result column="CXCS" property="cxcs" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
  	ID,SQR_ID,ZJH,ZJLX,XM,SFZZP,SFZF,ZFLY,SFDY,BCXRQ,XGRQ,RKLX,CXCS
  </sql>
  <sql id="Arg_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Arg_Where_Clause" >
    <where >
      <foreach collection="arg.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>  
  <select id="selectByArg" resultMap="BaseResultMap" parameterType="com.ztesoft.web.byTheQuery.db.arg.TBcxrxxArg" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_BCXRXX
    <if test="_parameter != null" >
      <include refid="Arg_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>  
  <select id="selectByArgAndPage" resultMap="BaseResultMap" parameterType="com.ztesoft.web.byTheQuery.db.po.TBcxrxxPO" >
    select
    b.ID, s.xm as sqr_id, b.ZJH, b.ZJLX, b.XM, b.SFZZP, b.SFZF, b.ZFLY, b.SFDY, b.BCXRQ, b.XGRQ, b.RKLX, b.CXCS
	from t_bcxrxx b, t_sqrxx s 
    where b.sqr_id = s.id  
    <if test="zjh != null and zjh != ''">
    	and b.ZJH = ${zjh}
    </if>
    <if test="xm != null and xm !=''">
    	and b.XM = ${xm}
    </if>
    <if test="bcxrq != null and bcxrq != ''">
    	and b.BCXRQ = ${bcxrq}
    </if>

  </select>
  <select id="countByArg" parameterType="com.ztesoft.web.byTheQuery.db.arg.TBcxrxxArg" resultType="java.lang.Integer" >
    <if test="countsql1 != null" >
    	${countsql1}
    	<if test="_parameter != null" >
		  <include refid="Arg_Where_Clause" />
		</if>
		${countsql2}
    </if>
	<if test="countsql1 == null" >
		select count(*) from T_BCXRXX
		<if test="_parameter != null" >
		  <include refid="Arg_Where_Clause" />
		</if>
	</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
	select
	<include refid="Base_Column_List" />
	from T_BCXRXX
	where ID = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.ztesoft.web.byTheQuery.db.po.TBcxrxxPO"  >
		insert into T_BCXRXX(ID,SQR_ID,ZJH,ZJLX,XM,SFZZP,SFZF,ZFLY,SFDY,BCXRQ,XGRQ,RKLX,CXCS)
		values (#{id,jdbcType=VARCHAR},#{sqrId,jdbcType=VARCHAR},#{zjh,jdbcType=VARCHAR},#{zjlx,jdbcType=VARCHAR},#{xm,jdbcType=VARCHAR},#{sfzzp,jdbcType=VARCHAR},#{sfzf,jdbcType=CHAR},#{zfly,jdbcType=VARCHAR},#{sfdy,jdbcType=CHAR},#{bcxrq,jdbcType=CHAR},#{xgrq,jdbcType=CHAR},#{rklx,jdbcType=CHAR},#{cxcs,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ztesoft.web.byTheQuery.db.po.TBcxrxxPO">
		insert into T_BCXRXX
	<trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="id != null" >
			ID,
		</if>
		<if test="sqrId != null" >
			SQR_ID,
		</if>
		<if test="zjh != null" >
			ZJH,
		</if>
		<if test="zjlx != null" >
			ZJLX,
		</if>
		<if test="xm != null" >
			XM,
		</if>
		<if test="sfzzp != null" >
			SFZZP,
		</if>
		<if test="sfzf != null" >
			SFZF,
		</if>
		<if test="zfly != null" >
			ZFLY,
		</if>
		<if test="sfdy != null" >
			SFDY,
		</if>
		<if test="bcxrq != null" >
			BCXRQ,
		</if>
		<if test="xgrq != null" >
			XGRQ,
		</if>
		<if test="rklx != null" >
			RKLX,
		</if>
		<if test="cxcs != null" >
			CXCS,
		</if>
 	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides="," >
		<if test="id != null" >
			#{id,jdbcType=VARCHAR},
		</if>
		<if test="sqrId != null" >
			#{sqrId,jdbcType=VARCHAR},
		</if>
		<if test="zjh != null" >
			#{zjh,jdbcType=VARCHAR},
		</if>
		<if test="zjlx != null" >
			#{zjlx,jdbcType=VARCHAR},
		</if>
		<if test="xm != null" >
			#{xm,jdbcType=VARCHAR},
		</if>
		<if test="sfzzp != null" >
			#{sfzzp,jdbcType=VARCHAR},
		</if>
		<if test="sfzf != null" >
			#{sfzf,jdbcType=CHAR},
		</if>
		<if test="zfly != null" >
			#{zfly,jdbcType=VARCHAR},
		</if>
		<if test="sfdy != null" >
			#{sfdy,jdbcType=CHAR},
		</if>
		<if test="bcxrq != null" >
			#{bcxrq,jdbcType=CHAR},
		</if>
		<if test="xgrq != null" >
			#{xgrq,jdbcType=CHAR},
		</if>
		<if test="rklx != null" >
			#{rklx,jdbcType=CHAR},
		</if>
		<if test="cxcs != null" >
			#{cxcs,jdbcType=INTEGER},
		</if>
 	</trim> 	
  </insert>	
  <insert id="insertBatch" parameterType="list"  >
	insert into T_BCXRXX(ID,SQR_ID,ZJH,ZJLX,XM,SFZZP,SFZF,ZFLY,SFDY,BCXRQ,XGRQ,RKLX,CXCS)
	 values 
	 <foreach collection="list" item="item" index="index" separator=",">
	 		(#{item.id,jdbcType=VARCHAR},#{item.sqrId,jdbcType=VARCHAR},#{item.zjh,jdbcType=VARCHAR},#{item.zjlx,jdbcType=VARCHAR},#{item.xm,jdbcType=VARCHAR},#{item.sfzzp,jdbcType=VARCHAR},#{item.sfzf,jdbcType=CHAR},#{item.zfly,jdbcType=VARCHAR},#{item.sfdy,jdbcType=CHAR},#{item.bcxrq,jdbcType=CHAR},#{item.xgrq,jdbcType=CHAR},#{item.rklx,jdbcType=CHAR},#{item.cxcs,jdbcType=INTEGER})
	 </foreach>
  </insert>
  <update id="updateByArgSelective" parameterType="map" >
    update T_BCXRXX
    <set>
		<if test="record.sqrId != null" >
			SQR_ID= #{record.sqrId,jdbcType=VARCHAR},
		</if>
		<if test="record.zjh != null" >
			ZJH= #{record.zjh,jdbcType=VARCHAR},
		</if>
		<if test="record.zjlx != null" >
			ZJLX= #{record.zjlx,jdbcType=VARCHAR},
		</if>
		<if test="record.xm != null" >
			XM= #{record.xm,jdbcType=VARCHAR},
		</if>
		<if test="record.sfzzp != null" >
			SFZZP= #{record.sfzzp,jdbcType=VARCHAR},
		</if>
		<if test="record.sfzf != null" >
			SFZF= #{record.sfzf,jdbcType=CHAR},
		</if>
		<if test="record.zfly != null" >
			ZFLY= #{record.zfly,jdbcType=VARCHAR},
		</if>
		<if test="record.sfdy != null" >
			SFDY= #{record.sfdy,jdbcType=CHAR},
		</if>
		<if test="record.bcxrq != null" >
			BCXRQ= #{record.bcxrq,jdbcType=CHAR},
		</if>
		<if test="record.xgrq != null" >
			XGRQ= #{record.xgrq,jdbcType=CHAR},
		</if>
		<if test="record.rklx != null" >
			RKLX= #{record.rklx,jdbcType=CHAR},
		</if>
		<if test="record.cxcs != null" >
			CXCS= #{record.cxcs,jdbcType=INTEGER}
		</if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Arg_Where_Clause" />
    </if>
  </update>
  <update id="updateByArg" parameterType="map" >
    update T_BCXRXX
    set 
		ID = #{record.id,jdbcType=VARCHAR},
		SQR_ID = #{record.sqrId,jdbcType=VARCHAR},
		ZJH = #{record.zjh,jdbcType=VARCHAR},
		ZJLX = #{record.zjlx,jdbcType=VARCHAR},
		XM = #{record.xm,jdbcType=VARCHAR},
		SFZZP = #{record.sfzzp,jdbcType=VARCHAR},
		SFZF = #{record.sfzf,jdbcType=CHAR},
		ZFLY = #{record.zfly,jdbcType=VARCHAR},
		SFDY = #{record.sfdy,jdbcType=CHAR},
		BCXRQ = #{record.bcxrq,jdbcType=CHAR},
		XGRQ = #{record.xgrq,jdbcType=CHAR},
		RKLX = #{record.rklx,jdbcType=CHAR},
		CXCS = #{record.cxcs,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Arg_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztesoft.web.byTheQuery.db.po.TBcxrxxPO" >
		update T_BCXRXX
	<set >
	<if test="sqrId != null" >
		SQR_ID = #{sqrId,jdbcType=VARCHAR},
	</if>
	<if test="zjh != null" >
		ZJH = #{zjh,jdbcType=VARCHAR},
	</if>
	<if test="zjlx != null" >
		ZJLX = #{zjlx,jdbcType=VARCHAR},
	</if>
	<if test="xm != null" >
		XM = #{xm,jdbcType=VARCHAR},
	</if>
	<if test="sfzzp != null" >
		SFZZP = #{sfzzp,jdbcType=VARCHAR},
	</if>
	<if test="sfzf != null" >
		SFZF = #{sfzf,jdbcType=CHAR},
	</if>
	<if test="zfly != null" >
		ZFLY = #{zfly,jdbcType=VARCHAR},
	</if>
	<if test="sfdy != null" >
		SFDY = #{sfdy,jdbcType=CHAR},
	</if>
	<if test="bcxrq != null" >
		BCXRQ = #{bcxrq,jdbcType=CHAR},
	</if>
	<if test="xgrq != null" >
		XGRQ = #{xgrq,jdbcType=CHAR},
	</if>
	<if test="rklx != null" >
		RKLX = #{rklx,jdbcType=CHAR},
	</if>
		CXCS = #{cxcs,jdbcType=INTEGER}
	</set >
	 where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztesoft.web.byTheQuery.db.po.TBcxrxxPO" >
		update T_BCXRXX
		set 
			SQR_ID = #{sqrId,jdbcType=VARCHAR},
			ZJH = #{zjh,jdbcType=VARCHAR},
			ZJLX = #{zjlx,jdbcType=VARCHAR},
			XM = #{xm,jdbcType=VARCHAR},
			SFZZP = #{sfzzp,jdbcType=VARCHAR},
			SFZF = #{sfzf,jdbcType=CHAR},
			ZFLY = #{zfly,jdbcType=VARCHAR},
			SFDY = #{sfdy,jdbcType=CHAR},
			BCXRQ = #{bcxrq,jdbcType=CHAR},
			XGRQ = #{xgrq,jdbcType=CHAR},
			RKLX = #{rklx,jdbcType=CHAR},
			CXCS = #{cxcs,jdbcType=INTEGER}
	 where ID = #{id,jdbcType=VARCHAR}
   </update>
  <delete id="deleteByArg" parameterType="com.ztesoft.web.byTheQuery.db.arg.TBcxrxxArg" >
    delete from T_BCXRXX
    <if test="_parameter != null" >
      <include refid="Arg_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
	 delete from T_BCXRXX
	 where ID = #{id,jdbcType=VARCHAR}
  </delete>
</mapper>  