<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.ztesoft.web.information.db.dao.mapper.IReportMapper" >
	<resultMap id="BaseResultMap" type="com.ztesoft.web.information.domain.resp.ReportResultDto">
		<result column="czdw" property="czdw" jdbcType="VARCHAR" />
		<result column="dwmc" property="dwmc" jdbcType="VARCHAR" />
		<result column="fwcs" property="fwcs" jdbcType="INTEGER" />
		<result column="cxcs" property="cxcs" jdbcType="INTEGER" />
		<result column="cxcgcs" property="cxcgcs" jdbcType="INTEGER" />
		<result column="totalRows" property="totalRows" jdbcType="INTEGER" />
		<result column="dycs" property="dycs" jdbcType="INTEGER" />
		<result column="czr" property="czr" jdbcType="VARCHAR" />
		
	</resultMap>
	
	<!-- 服务次数-->
	<select id="queryFwcs" resultMap="BaseResultMap" parameterType="com.ztesoft.web.information.domain.req.ReportQueryDto" >
    
    	select count(1)fwcs from t_sqrxx 
		where 1=1
		<if test="cxbs!=null and cxbs!=''" >
            AND CXBS = #{cxbs}
		</if>
		<if test="czdw!=null and czdw!=''" >
            AND CZDW = #{czdw}
		</if>
		AND CXRQ BETWEEN #{startDateStr} AND #{endDateStr}
    
	</select>  
  
	<!--被查询人信息表  查询次数-->
	<select id="queryCxcs" resultMap="BaseResultMap" parameterType="com.ztesoft.web.information.domain.req.ReportQueryDto" >
		select count(1)totalRows,SUM(cxcs)cxcs from t_bcxrxx bc
		where bc.SQR_ID IN(
			select ID from t_sqrxx
			where 1=1
		<if test="cxbs!=null and cxbs!=''" >
	            AND CXBS = #{cxbs}
		</if>
		<if test="czdw!=null and czdw!=''" >
	            AND CZDW = #{czdw}
		</if>
			AND CXRQ BETWEEN #{startDateStr} AND #{endDateStr}
		)
	</select>
   	
	<!--被查询人信息表   查询成功次数-->
	<select id="queryCxcgcs" resultMap="BaseResultMap" parameterType="com.ztesoft.web.information.domain.req.ReportQueryDto" >
		select count(1)totalRows,SUM(cxcs)cxcgcs from t_bcxrxx bc
		where  bc.SFZF='0' and bc.SQR_ID IN(
			select ID from t_sqrxx
			where 1=1
		<if test="cxbs!=null and cxbs!=''" >
	            AND CXBS = #{cxbs}
		</if>
		<if test="czdw!=null and czdw!=''" >
	            AND CZDW = #{czdw}
		</if>
			AND CXRQ BETWEEN #{startDateStr} AND #{endDateStr}
		)
	</select>  
	
	<!--按 操作人（终端：终端名）分组统计 查询次数 打印次数-->
	<select id="queryPlatesQryPrint" resultMap="BaseResultMap" parameterType="com.ztesoft.web.information.domain.req.ReportQueryDto" >
		select czr,sum(sfdy) dycs,sum(cxcs) cxcs
		FROM(
			select bc.SFDY, bc.SFZF, bc.XGRQ, bc.RKLX, bc.CXCS, bc.BCXRQ, sq.CZDW, sq.CZR, sq.CXBS
			FROM
		    	t_bcxrxx bc left join t_sqrxx sq on sq.ID=bc.SQR_ID
			where bc.SFZF='0' 
			<if test="cxbs!=null and cxbs!=''" >
	            AND sq.CXBS = #{cxbs}
			</if>
				AND bc.BCXRQ BETWEEN #{startDateStr} AND #{endDateStr}
		)t group by czr
	</select>  
	
	
	<!--按单位分组查询(传入的单位ID进行查询) ： 服务次数、查询次数、查询成功次数-->
	<select id="queryGroupByCzdw" resultMap="BaseResultMap" parameterType="com.ztesoft.web.information.domain.req.ReportQueryDto" >
		SELECT
		    a.czdw,a.fwcs,b.cxcs,c.cxcgcs,
		    (SELECT ORG_NAME FROM  audit_organization o WHERE a.czdw=o.org_id ) dwmc
		FROM
		    (
		        /**服务次数*/
		        SELECT  COUNT(1)fwcs,  czdw
		        FROM
		            t_sqrxx
		        WHERE
		            CXBS = #{cxbs}
		        AND CXRQ BETWEEN #{startDateStr} AND #{endDateStr}
		        AND CZDW IN(
		        	${czdwSplitByComma}
		        )
		        GROUP BY  czdw
		    )  a LEFT JOIN
		    (
		        /**查询次数*/
		        SELECT sq.CZDW,  COUNT(1)totalRows, SUM(bc.cxcs)cxcs
		        FROM
		            t_bcxrxx bc
		        LEFT JOIN t_sqrxx sq
		        ON sq.ID=bc.SQR_ID
		        WHERE
		            sq.CXBS = #{cxbs}
		        AND bc.BCXRQ BETWEEN #{startDateStr} AND #{endDateStr}
		        AND sq.CZDW IN(
		        	${czdwSplitByComma}
		        )
		        GROUP BY sq.CZDW
		    )
		    b
		ON  a.czdw=b.czdw
		LEFT JOIN
		    (
		        /**查询成功次数*/
		        SELECT  sq.CZDW, COUNT(1)totalRows,  SUM(bc.cxcs)cxcgcs
		        FROM
		            t_bcxrxx bc
		        LEFT JOIN t_sqrxx sq
		        ON sq.ID=bc.SQR_ID
		        WHERE
		            sq.CXBS = #{cxbs}
		        AND bc.SFZF='0'
		        AND bc.BCXRQ BETWEEN #{startDateStr} AND #{endDateStr}
		        AND sq.CZDW IN(
		        	${czdwSplitByComma}
		        )
		        GROUP BY sq.CZDW
		    )c
		ON a.czdw=c.czdw
	</select>  	
	
</mapper>  