<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.ztesoft.web.information.db.dao.mapper.IReportMapper" >
	<resultMap id="BaseResultMap" type="com.ztesoft.web.information.domain.resp.ReportResultDto">
		<result column="czdw" property="czdw" jdbcType="VARCHAR" />
		<result column="dwmc" property="dwmc" jdbcType="VARCHAR" />
		<result column="fwcs" property="fwcs" jdbcType="INTEGER" />
		<result column="cxcs" property="cxcs" jdbcType="INTEGER" />
		<result column="cxcgcs" property="cxcgcs" jdbcType="INTEGER" />
		<result column="totalRows" property="totalRows" jdbcType="INTEGER" />
		
	</resultMap>
	
	<!-- 服务次数-->
	<select id="queryFwcs" resultMap="BaseResultMap" parameterType="com.ztesoft.web.information.domain.req.ReportQueryDto" >
    
    	select count(1)fwcs from t_sqrxx 
		where 1=1
		<if test="cxbs!=null and cxbs!=''" >
            AND CXBS = #{cxbs}
		</if>
		<if test="czdw!=null and czdw!=''" >
            AND CZDW = #{czdw}
		</if>
		AND CXRQ BETWEEN #{startDateStr} AND #{endDateStr}
    
	</select>  
  
  	<!-- 查询次数-->
	<select id="queryCxcs" resultMap="BaseResultMap" parameterType="com.ztesoft.web.information.domain.req.ReportQueryDto" >
		select count(1)totalRows,count(cxcs)cxcs from t_bcxrxx bc
		where bc.SQR_ID IN(
			select ID from t_sqrxx
			where 1=1
			<if test="cxbs!=null and cxbs!=''" >
	            AND CXBS = #{cxbs}
			</if>
			<if test="czdw!=null and czdw!=''" >
	            AND CZDW = #{czdw}
			</if>
			AND CXRQ BETWEEN #{startDateStr} AND #{endDateStr}
		)
	</select>
   	
   	<!-- 查询成功次数-->
	<select id="queryCxcgcs" resultMap="BaseResultMap" parameterType="com.ztesoft.web.information.domain.req.ReportQueryDto" >
		select count(1)totalRows,count(cxcs)cxcgcs from t_bcxrxx bc
		where  bc.SFZF='0' and bc.SQR_ID IN(
			select ID from t_sqrxx
			where 1=1
			<if test="cxbs!=null and cxbs!=''" >
	            AND CXBS = #{cxbs}
			</if>
			<if test="czdw!=null and czdw!=''" >
	            AND CZDW = #{czdw}
			</if>
			AND CXRQ BETWEEN #{startDateStr} AND #{endDateStr}
		)
	</select>  
</mapper>  