<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


	<bean id="frameworkdataSource" class="net.sf.log4jdbc.Log4jdbcProxyDataSource">    
		<constructor-arg ref="dataSourceSpied" />  
	</bean>
    <bean id="dataSourceSpied" destroy-method="close"
          class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${framework.jdbc.driverClassName}" />
        <property name="url" value="${framework.jdbc.url}" />
        <property name="username" value="${framework.jdbc.username}" />
        <property name="password" value="${framework.jdbc.password}" />
        <property name="maxActive" value="${framework.jdbc.maxActive}" />
        <property name="maxIdle" value="${framework.jdbc.maxIdle}" />
        <property name="minIdle" value="${framework.jdbc.minIdle}" />
        <property name="initialSize" value="${framework.jdbc.initialSize}" />
        <property name="testOnBorrow" value="${framework.jdbc.testOnBorrow}" />
        <property name="testWhileIdle" value="${framework.jdbc.testWhileIdle}" />
        <property name="testOnReturn" value="${framework.jdbc.testOnReturn}" />
        <property name="removeAbandoned" value="${framework.jdbc.removeAbandoned}" />
        <property name="removeAbandonedTimeout" value="${framework.jdbc.removeAbandonedTimeout}" />
        <property name="logAbandoned" value="${framework.jdbc.logAbandoned}" />
        <property name="validationQuery" value="${framework.jdbc.validationQuery}" />
    </bean>

</beans>